.contact-us {
    background: $color-background;
    h2 {
        color: $color-light;
    }
}

.contact-us__social {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 60px;
    li {
        text-align: center;
        p {
            margin-top: -36px;
            color: $color-light;
        }
        a {
            text-decoration: none;
        }
    }
}

.contact-us__form {
    max-width: 840px;
    margin: 0 auto;
    padding-bottom: 60px;
}

legend {
    text-align: center;
    margin: 0 auto;
    @include font(2.4rem, 3.4rem, bold);
    color: $color-light;
}

.contact-us__form {
    input {
        @include font(1.8rem, 1.2rem);
        color: $color-light;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;    
        &:focus {
            outline: none;
            border-bottom: 1px solid $color-light;
        }
    }
}

.contact-us__button {
    width: 100%;
    height: 100%;
}

fieldset {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: $color-light;
}

.layout-2-column {
    @include columns($width: 46%);
}