.header {
    backdrop-filter: blur(1rem);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    display: flex;
    align-items: center;
    a {
        font-family: "Gilroy", sans-serif;
        @include font(2.6rem, 2.6rem, 800);
        letter-spacing: -0.5px;
        color: $color-light;
        text-decoration: none;
        padding-right: 30px;
        border-right:1px solid rgba(255, 255, 255, .5);
        
    }
    object {
        margin-right: 10px;
    }
}

.logo__text {
    @include font(1.2rem, 1.6rem);
    opacity: 0.7;
    color: $color-light;
    padding-left: 30px;
}

