.navigation {
    display: flex;
}

.navigation > li {
    margin-right: 30px;
}
.navigation__link {
    @include font(1.5rem, 1.5rem);
    list-style: none;
    padding: 0 15px;
    a {
        color: $color-light;
        text-decoration: none;
        &:hover {
            color: $color-brand;
            @extend %transition;
        }
    }
}
