.promo__content {
    text-align: center;
    padding-bottom: 72px;
}

.promo__text {
    @include font(2.6rem, 3.6rem);
    text-align: center;
    letter-spacing: -0.5px;
    color: #ffffff;
    padding-bottom: 42px;
    a {
        font-style: italic;
        font-family: serif;
        color: #fff;
    }
}

.promo__sentence {
    display: flex;
    background: #151515;
    opacity: 0.7;
    color: $color-light;
}

.sentence {
    display: flex;
    justify-content: center;
    padding: 42px 0 53px 0;
    align-items: center;
    color: $color-light;
    opacity: 0.8;
    img {
        padding: 0 50px 0 30px;
    }
}
